.button:hover{
  padding: 10px 15px;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
  color: white
  background-color: blue;
  border-radius: 12px;
  transition: 0.2s;
  border: 1px blue;
}